.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
}

.text-container{
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 50%;
}

.paragraph-header{
    margin: 0;
}

.paragraph-image{
    height: 25rem;
    width: 25rem;
    border-radius: 5rem;
}