.container{
    display: flex;
    flex-direction: row;
    width: 60rem;
    justify-content: center;
    margin-left: 20rem;
    margin-right: 10rem;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.paragraph-header{
    margin: 0;
}

.paragraph-image{
    height: 15rem;
    width: 15rem;
    border-radius: 5rem;
    margin-left: 5rem;
}