.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
}

.text-container{
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 50%;
}

.paragraph-header{
    margin: 0;
}

.paragraph-text{
    line-height: 30px;
}

.paragraph-image{
    height: 35rem;
    width: 25rem;
    border-radius: 5rem;
    object-fit: cover;
}

@media(max-width: 1100px){
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.text-container{
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 80%;
    margin-bottom: 2rem;
}

.paragraph-header{
    margin: 0;
}

.paragraph-text{
    line-height: 30px;
    text-align: center;
}

.paragraph-image{
    height: 35rem;
    width: 25rem;
    border-radius: 5rem;
    object-fit: cover;
}
}