/* .scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: lime;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    
    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
    to { scale: 1 1 }
} */

body {
  scroll-behavior: smooth;
}

.primary-header{
    display: grid;
    place-items: center;
    position: relative;
    height: 100svh;
    overflow-x: clip;
    margin-block-end: 3rem;
    background-color: none;
}

.hero-img{
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
    opacity: 0.5;

    animation: header-image-animation forwards;
    animation-timeline: view();
    animation-range: exit;
}

.hero-text-container{
    margin-block-end: 12rem;
    z-index: 2;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
}

@keyframes fade-out {
    to { opacity: 0;}
}

@keyframes header-image-animation {
    25% { opacity: .8; }
    85%, 100% { opacity: 0; scale: 2}
}

.header-title{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.header-subtext{
    font-size: 1.5rem;
}

.content{
    width: 60%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    gap: 8rem;
    z-index: 3;
}

.paragraph-container{
    display: grid;
    gap: 1rem;
    z-index: 4;
}

.paragraph-title{
    margin-block-end: 1rem;
}

p{
    line-height: 2rem;
}

img{
    width: 100%;
}

/* scrolling images section */

.scrolling-images-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    margin-block-end: 5rem;
}

.scrolling-title-container{
    display: grid;
}

.scrolling-title{
    padding-top: 5rem;
    padding-right: 2rem;
    position: sticky;
    top: 0;
    align-self: start;
}

.scrolling-image-container{
    display: grid;
    gap: 5rem;
    padding-top: 5rem;
}

.scrolling-image{
    object-fit: cover;
    aspect-ratio: 16 / 14;
}


/* info cards section*/

.info-cards-wrapper{
    display: grid;
    height: fit-content;
    gap: 5rem;
    margin-block-end: 10rem;
}

.info-card{
    background-color: teal;
    padding: 2rem;
    border-radius: 2em;
    height: auto;
    position: sticky;
    top: 12rem;
    min-height: 16rem;
}

.second-card{
    top: 16rem;
    background-color: #8357d4;
}

.third-card{
    background-color: rgb(102, 155, 110);
    top: 20rem;
}

.info-card-title{
    margin-block-end: 0;
}

.info-card-description{
    font-size: 1.5em;
}



/* Footer */

.footer-list{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #1c1d1d;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
}

.footer-list-element{
    color: white;
}

@media(prefers-reduced-motion: no-preference){
    .fade-in{
        animation: fade-in;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 700px;
    }

    @keyframes fade-in {
        from {scale: .8; opacity: 0}
        to {scale: 1; opacity: 1;}
    }
}

@media(max-width: 1000px){
    .scrolling-images-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .scrolling-title{
        text-align: center;
    }
}