body{
    height: fit-content;
    width: fit-content;
    background-color: black;
    font-family: 'GeneralSans-Regular', Arial, Helvetica, sans-serif;
}

.scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: lime;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    
    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
    to { scale: 1 1 }
}

.primary-header{
    display: grid;
    place-items: center;
    position: relative;
    height: 100svh;
    overflow-x: clip;
    padding-block: 7rem;
    margin-block-end: 3rem;
}

.hero-img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

.hero-text-container{
    margin-block-end: 12rem;
    z-index: 2;
}

.header-title{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.header-subtext{
    font-size: 1.5rem;
}

.content{
    width: 60%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    gap: 4rem;
}

.paragraph-container{
    display: grid;
    gap: 1rem
}

.paragraph-title{
    margin-block-end: 1rem;
}

p{
    line-height: 2rem;
}

img{
    width: 100%;
}

/* scrolling images section */

.scrolling-images-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    margin-block-end: 5rem;
}

.scrolling-title-container{
    display: grid;
}

.scrolling-title{
    padding-top: 5rem;
    padding-right: 2rem;
    position: sticky;
    top: 0;
    align-self: start;
}

.scrolling-image-container{
    display: grid;
    gap: 5rem;
    padding-top: 5rem;
}

.scrolling-image{
    object-fit: cover;
    aspect-ratio: 16 / 14;
}


/* info cards section*/

.info-cards-wrapper{
    display: grid;
    height: fit-content;
    gap: 2rem;
}

.info-card{
    background-color: teal;
    padding: 2rem;
    border-radius: 2em;
    height: auto;
}

.yellow{
    background-color: rgb(102, 155, 110);
}

.info-card-title{
    margin-block-end: 0;
}

.info-card-description{
    
}

/* Footer */

.footer-list{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
}

.footer-list-element{
    color: black;
}



@media(max-width: 1000px){
    .scrolling-images-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .scrolling-title{
        text-align: center;
    }
}