body{
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.background-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.parallax-effect-img {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-main-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
}

.img-header-title{
    font-size: 6rem;
    text-align: center;
    margin: 0;
}

.header-support-text{
    font-size: 2rem;
}

.places-list{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

/*  section 2  */

.paragraph-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

/*  section 3  */

.image-location-container{
    background-color: rgb(29, 29, 29);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    align-items: start;
}

.left-side-text{
    height: 100%;
}

.text-should-stay-fixed {
    position: sticky;
    top: 20vh;
    max-width: 80%;
    padding: 10rem 0 35rem 0;
    color: white;
    justify-self: center;
}

.right-side-images{
    display: flex;
    flex-direction: column;
    margin: 10rem 0 20rem 0;
    justify-self: center;
}

.moving-img{
    object-fit: cover;
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
    margin-bottom: 10rem;
}

/*  section 4  */

.TEST{
    height: 100vh;
    background-color: white;
}