:root{
}

body{
    height: 100vh;
}

.background-container{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
    flex-direction: column;
    width: 100%;
    background: url('../../assets/Tesla-model-y-bg.avif');
    background-size: cover;
}

.header-main-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
}

.img-header-title{
    font-size: 6rem;
    text-align: center;
    margin: 0;
}

.header-support-text{
    font-size: 2rem;
}


.places-list{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}