:root{
}

body{
    display: block;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.background-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.parallax-effect-img {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-main-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
}

.img-header-title{
    font-size: 6rem;
    text-align: center;
    margin: 0;
}

.header-support-text{
    font-size: 2rem;
}

.places-list{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.paragraph-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}